@keyframes bounce {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }

    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}

.bounceDelay1 {
    animation-name: bounce;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.bounceDelayHalf {
    animation-name: bounce;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

.bounceDelayNone {
    animation-name: bounce;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}